@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
}

<h1>Jake Hadley</h1><br />

<!-- Picture of something I enjoy doing -->
<img src="img/golfing.JPG" height="300" />
<figcaption>I love to go golfing!</figcaption><br />

<!-- Paragraph of what I hope to get out of this class -->
<h4>What I hope to gain from IS 413</h4>
<p>
    I am super excited for IS 413! My current job uses ASP.NET with Visual Basic and so I am excited for all this class will teach me
    and that it will help me with my job. I also was happy to hear that ASP.NET is so prevalent in the workplace and that these skills will
    be put to good use!
</p><br />

<!-- List of top 3 jobs -->
<h4>My Top 3 Jobs I Want to Pursue</h4>
<ol>
    <li>Product/Project Manager</li>
    <li>Database Administrator</li>
    <li>Data Analyst</li>
</ol><br />